html {
  height: 100%;
}
body {
  background: url('/Resources/Images/BG-Chicken.png') top left no-repeat;
  max-width: 100%;
  height: 100%;
  margin: 0;
}
* {
  font-family: 'Segoe UI', 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 16px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
#nav {
  background: url('/Resources/Images/repeatWhite90.png') repeat;
  position: relative;
  width: 400px;
  height: 100%;
  float: left;
}
#nav #title {
  width: 100%;
  padding-top: 30px;
}
#nav #title h1 {
  font-size: 2.5em;
  line-height: 40px;
  color: #444;
  text-align: right;
  padding-right: 30px;
  letter-spacing: -1px;
}
#content {
  position: absolute;
  left: 400px;
  width: auto;
  height: 100%;
}
#content #lunch .sectionTitle,
#content #history .sectionTitle {
  padding-top: 30px;
}
#content #lunch .sectionTitle h2,
#content #history .sectionTitle h2 {
  font-size: 2.5em;
  line-height: 40px;
  color: #fff;
  text-align: left;
  letter-spacing: -1px;
  padding-left: 30px;
}
#content #lunch {
  background: url('/Resources/Images/repeatBlue.png') repeat;
  width: 800px;
  float: left;
  height: 100%;
  display: inline-block;
}
#content #history {
  background: url('/Resources/Images/repeatBlack.png') repeat;
  width: 800px;
  float: left;
  height: 100%;
  display: inline-block;
}
