@model Lunch.Core.Jobs.MailDetails

<h2>What's for lunch - You can veto.</h2>

<div>
    Hello @Model.User.FullName,
    <br />

    Today's restaurant choice is:
    <ul>
        <li>@Model.Restaurants.ToList()[0].Restaurant.RestaurantName</li>
    </ul>

    <br />
    You have an available veto.
    <a href="@Model.Url">Click here to change today's restaurant to @Model.Restaurants.ToList()[1].Restaurant.RestaurantName</a>
</div>
