@{
    ViewBag.Title = "Change Password";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Change Password</h1>
            <p>
                Your password has been changed successfully.
            </p>

        </div>
    </div>
</div>
