@{
    ViewBag.Title = "Thanks for registering";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>But you&#8217;re not done yet!</h1>
            <p>
                An email with instructions on how to activate your account is on its way 
                to you.
            </p>

        </div>
    </div>
</div>
