[Oo]bj
[Bb]in
[Rr]ealse
[Dd]ebug
./Resharp*
Thumbs.db
cmd.exe
Git Bash.lnk
*.docstates.suo
*.suo
*.user
[Tt]est[Rr]esults
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
[Pp]ersonal