<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433 now
  -->
<configuration>
  <configSections>
    <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
  </configSections>
  <Exceptional applicationName="What's For Lunch">
    <IgnoreErrors>
      <Regexes>
        <!-- Exceptions with messages matching a regex here will not be logged -->
        <!--<add name="connection suuuuuuuucks" pattern="Request timed out\.$"/>-->
      </Regexes>
      <!-- Optional: Error types to ignore, e.g. <add type="System.Exception" /> or <add type="MyNameSpace.MyException" />-->
      <Types>
        <!-- Exceptions of the type here will not be logged, if you want to ignore an entire class of exception-->
        <!--<add type="System.Exception" />-->
      </Types>
    </IgnoreErrors>
    <LogFilters>
      <Form>
        <add name="password" replaceWith="********" />
      </Form>
    </LogFilters>
    <!-- Email settings to send to, if an email per exception is desired, only toAddress is required, other defaults are pulled from the <system.net> section -->
    <!--Needs newer nuget package for email <Email fromAddress="admin@whatsforlunch.com" fromDisplayName="Lunch App" toAddress="" />-->
    <!-- Which ErrorStore to use, if no element is declared here a Memory store with defaults will be used -->
    <ErrorStore type="Memory" />
  </Exceptional>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="true" />
    <add key="SetupComplete" value="true"/>
    <!--<add key="BaseURL" value="http://whatsforlunch.azurewebsites.net/" />-->
    <add key="BaseURL" value="http://whatsforlunch.azurewebsites.net/" />
    <add key="FromEmail" value="eric@coffman.net" />
    <add key="RestaurantProviderURL" value="http://api.citygridmedia.com/content/places/v2/search/latlon" />
    <add key="RestaurantProviderPublisherKey" value="10000004484" />
    <add key="RestaurantProviderLatitude" value="39.653319" />
    <add key="RestaurantProviderLongitude" value="-79.95735" />
    <add key="RestaurantProviderRadius" value="2" />
    <add key="RestaurantProviderZipCode" value="26505" />
    <add key="ExcludedDays" value="Saturday,Sunday" />
  </appSettings>
  <connectionStrings>
    <add name="AzureSQL" connectionString="Server=tcp:jh2haawn58.database.windows.net,1433;Database=WhatsForLunch;User ID=whatsforlunch@jh2haawn58;Password=sfsk34-03i9000000kk;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="LocalSQL" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WhatsForLunch;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="On" />
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="WebMatrix.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AzureSQL" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AzureSQL" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AzureSQL" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F2DD28FC3B76FA701037A12D94D1DE52C" validation="SHA1" validationKey="2DD28FC3B76FA701037A12D94D1DE52C99F4AA129DE62168764FF0DCE537184F0535D5D9AD66DEDC2DD28FC3B76FA701037A12D94D1DE52C99F4AA1297DC1ABF" />
    <httpModules></httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="StackExchange.Exceptional.ExceptionalModule, StackExchange.Exceptional" />
    </modules>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>