@model Lunch.Website.ViewModels.ImportRestaurantsViewModel

@{
    ViewBag.Title = "DisplayRestaurants";
}

<h2>Restaurants Import</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Restaurants List</legend>
            
        <div>Search: <input id="searchbox" type="text" url="/Management/Search" /></div>
        
        <div id="results_container">
            @Html.Partial("_ImportRestaurantsList", Model)
        </div>    

        <p>
            <input type="submit" value="Save" class="btn btn-primary" />
        </p>

    </fieldset>
}

<script type="text/javascript">

    $(document).ready(function () {

        $('#searchbox').keyup(function () {
            var url = $(this).attr('url') + '?term=' + $(this).val();
            $.ajax({
                url: url,
                success: function(html) {
                    $("#results_container").html(html);
                }
            });
        });

    });

</script>