@{
    ViewBag.Title = "Index";
}

<div id="content" class="reports">
	  	
    <div class="bgOne"></div>
	  	
    <div class="mask"></div>
	  	
    <div id="info">	  	
	  	
        <div class="management">	  	
	  	
            <h1>Management</h1>

            <div class="portalWrap">
                <a class="manageOption" href="~/Restaurants/Types">
                    <span class="manageTitle">Restaurant Types</span>
                    <span class="manageIcon"><i class="icon-beer"></i></span>
                </a>

                <a class="manageOption" href="~/Restaurants/">
                    <span class="manageTitle">Restaurants</span>
                    <span class="manageIcon"><i class="icon-beer"></i></span>
                </a>

                <a class="manageOption" href="~/Users/Index">
                    <span class="manageTitle">Users</span>
                    <span class="manageIcon"><i class="icon-user"></i></span>
                </a>
	  	
                <a class="manageOption" href="~/Jobs/Index">
                    <span class="manageTitle">Jobs</span>
                    <span class="manageIcon"><i class="icon-cogs"></i></span>
                </a>
	  	
                <a class="manageOption" href="~/Logs/Index">
                    <span class="manageTitle">Logs</span>
                    <span class="manageIcon"><i class="icon-beaker"></i></span>
                </a>
	  	
                <a class="manageOption" href="~/Holidays/Index">
                    <span class="manageTitle">Holidays</span>
                    <span class="manageIcon"><i class="icon-star"></i></span>
                </a>
            </div>

        </div>
	  	
    </div>
	  	
</div>