@{
    ViewBag.Title = "Chart";
}

<script>
    function reload() {
        $("#statsbasicwrap").load("/home/statsbasic");
        setTimeout(reload, 10000);
    }

    reload();
</script>
<div id="statsbasicwrap">
@Html.Action("StatsBasic")
</div>