@{
    ViewBag.Title = "Index";
    var count = 0;
    var year = 1999;
}
<script>

    $(document).ready(function () {
        $("#semisubmit").click(function () {
            var result;

            result = ' Saved ';
            result += $("#monthfield .active").text();
            result += ' ';
            result += $("#dayfield .active").text();
            result += ', ';
            result += $("#yearfield .active").text();

            $("#name").text(result);
            var vdate;
            vdate = $("#monthfield button.active").val();
            vdate += '/' + $("#dayfield button.active").text();
            vdate += '/' + $("#yearfield button.active").text();

            var timestamp = new Date(vdate);
            if (timestamp.getMonth() + 1 != $("#monthfield .active").val()) {
                alert("Invalid date selected. Please try again.");
                return;
            } else {
                $.post('/home/save/', { "birthdate": "" + vdate + "" }, function (data) {
                    if (data = "True") {
                        $("#monthfield button").removeClass("active");
                        $("#dayfield button").removeClass("active");
                        $("#yearfield button").removeClass("active");
                        $("#name").fadeIn('slow').fadeOut(4000);
                        $("#statsbasicwrap").load("/home/statsbasic");
                    } else {
                        alert("Update failed. Please try again.");
                    }
                });
            }




        });
    });

</script>
<style>
    button {
        font-weight: bold;
    }

    .show-grid {
        margin-top: 10px;
    }

    .header {
        background-color: #EEE;
        text-align: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        min-height: 40px;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .active {
        background-color: white !important;
        color: blue !important;
        font-size: 18px !important;
    }

</style>
@*<div class="row-fluid show-grid">
    <div class="span4 header">4</div>
    <div class="span4 header">4</div>
    <div class="span4 header">4</div>
</div>*@

<div id="container" style="position:fixed; z-index:999; top: 100px; left: 50%; margin-left: -150px;">
    <h3><div id="name" style="display:none; width:250px;" class="alert alert-success pagination-centered"></div></h3>
</div>



<div class="pagination-centered">

    <h1>Choose your birthday</h1>
    <div class="btn-group" data-toggle="buttons-radio" id="monthfield">
        <button type="button" value="1" class="btn btn-small">January</button>
        <button type="button" value="2" class="btn btn-small">February</button>
        <button type="button" value="3" class="btn btn-small">March</button>
        <button type="button" value="4" class="btn btn-small">April</button>
        <button type="button" value="5" class="btn btn-small">May</button>
        <button type="button" value="6" class="btn btn-small">June</button>
        <button type="button" value="7" class="btn btn-small">July</button>
        <button type="button" value="8" class="btn btn-small">August</button>
        <button type="button" value="9" class="btn btn-small">September</button>
        <button type="button" value="10" class="btn btn-small">October</button>
        <button type="button" value="11" class="btn btn-small">November</button>
        <button type="button" value="12" class="btn btn-small">December</button>
    </div>
    <br />

    <div class="btn-group" data-toggle="buttons-radio" id="dayfield">
        @do
        {
            count++;
            <button type="button" class="btn btn-small">@count</button>
        } while (count < 31);
    </div>

    <br />
    <div class="btn-group" data-toggle="buttons-radio" id="yearfield">
        @do
        {
            year++;
            <button type="button" class="btn btn-small" title="Age: @(DateTime.Now.Year - year)">@year</button>
        } while (year < 2007);
    </div>

    <br />
    <button class="btn btn-success" id="semisubmit">Save your birthday</button>

</div>
<div id="statsbasicwrap">
@Html.Action("StatsBasic")
</div>