@using StackExchange.Profiling

@{
    ViewBag.Title = "_Layout";
}

<html>
    <head>
        <title>What's For Lunch?</title>
        <link href="//netdna.bootstrapcdn.com/bootswatch/2.1.1/simplex/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />  
    </head>
    <body>
        @MiniProfiler.RenderIncludes()
        @RenderBody()
    </body>
</html>