@using StackExchange.Profiling

@{
    ViewBag.Title = "_Layout";
}

<html>
    <head>
        <title></title>

        
    </head>
    <body>
        @MiniProfiler.RenderIncludes()
        @RenderBody()
    </body>
</html>