@model Lunch.Core.Models.Views.ImportRestaurant

@{
    ViewBag.Title = "DisplayRestaurants";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Restaurant Import</h1>
            <h3>Restaurants List</h3>

            @using (Html.BeginForm("SaveImports", "Restaurants"))
            {
                @Html.ValidationSummary(true)
            
                <div id="searchWrap">
                    <input id="searchbox" type="text" url="@Url.Content("~/Restaurants/Search")" placeholder="Minimun 3 characters required for search" />
                    <i class="icon-search"></i>
                </div>
        
                <div id="manageFormWrap">

                    <div id="results_container">
                        @Html.Partial("_ImportRestaurantsList", Model)
                    </div>    

                </div>
                
                <input id="SaveImports" type="button" url="@Url.Content("~/Restaurants/SaveImports")" value="Save" class="btn submit" />
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#searchbox').keyup(function () {
            var url = $(this).attr('url');
            if ($(this).val().length >= 3) {
                url += '?term=' + $(this).val();
            }
            $.ajax({
                url: url,
                success: function (html) {
                    $("#results_container").html(html);
                }
            });
        });

        $("#SaveImports").click(function () {
            var url = $(this).attr('url');
            var data = '';
            for (var i = 0; i <= $(".IsSelected").length; i++) {
                if ($('.IsSelected:eq(' + i + ')').is(':checked')) {
                    if (data == '') {
                        data = "{ 'Restaurants': [ {";
                    } else {
                        data += ' }, { ';
                    }
                    var name = $('.RestaurantName:eq(' + i + ')').val().replace(/'/g, "\\'");
                    var day = $('.SpecialDay:eq(' + i + ')').val().replace(/'/g, "\\'");
                    var type = $('.RestaurantType:eq(' + i + ')').val().replace(/'/g, "\\'");
                    data += "'RestaurantName': '" + name + "', 'IsSelected': '" + $('.IsSelected:eq(' + i + ')').val() + "', 'PreferredDayOfWeek': '" + day + "', 'RestaurantTypeID': '" + type + "'";
                }
            }
            if (data != '') {
                data += '} ] }';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'html',
                    cache: false,
                    success: function (html) {
                        $("#results_container").html(html);
                    },
                    error: function () {
                        alert("Import FAILED");
                    }
                });
            }
        });

    });

</script>