@model IEnumerable<Lunch.Core.Models.RestaurantOption>

@{
    ViewBag.Title = "GetTop";
}

<h2>GetTop</h2>

@foreach(var restaurantOption in Model)
{
    @restaurantOption.Restaurant.RestaurantName 
    <br />
}