@model Lunch.Website.ViewModels.ImportRestaurantsViewModel

@{
    ViewBag.Title = "Save Imports";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Management</h1>
            <h3>Save Imports</h3>

            @foreach (var restaurant in Model.Restaurants)
            {
                <p>@restaurant.Name (@(restaurant.Selected ? "SELECTED" : "IGNORED"))</p>
            }

        </div>
    </div>
</div>
