@model Lunch.Website.ViewModels.Homepage

@{
    ViewBag.Title = "NotYet";
}

<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">

            <p class="closed">Sorry, we're<br /><span class="font">Closed</span></p>
            <div class="closedHours">
                <div class="label">our hours are</div>
                <div class="hourBox">7:30am</div>
                <div class="hourBox">5:00pm</div>
                <div class="dayLabel">Monday-Friday (excluding holidays)</div>
            </div>

        </div>

    </div>
</div>
