@model Lunch.Website.ViewModels.Homepage

@{
    ViewBag.Title = "Going";
}

<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">

            <div class="usersWrap">
                @foreach (var user in Model.PeopleWhoVotedToday)
                {
    
                }
            </div>

            <p class="voted">You are eating at<br /><span class="restLabel">Cheddars</span><br />with</p>

        </div>
    </div>
</div>


