@model Lunch.Website.ViewModels.Homepage

@{
    ViewBag.Title = "Going";
}

<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        
       @if (ViewBag.YouVetoed)
       {
            <h1 style="color:white; font-size: 32px" class="ShawnAteH1Tags">You vetoed!</h1>
       }
          
        <div class="primary">

            <div class="usersWrap going">
                <p>@Model.PeopleWhoVotedToday.Count people are going</p>
                @foreach (var voter in Model.PeopleWhoVotedToday)
                {
                    <img title="@voter.FullNameWithEmail" src="http://www.gravatar.com/avatar/@Html.Md5Hash(voter.Email)?s=200" />
                }
            </div>

            <p class="voted">You are eating at<br /><span class="restLabel">@Model.WinningRestaurant.Restaurant.RestaurantName</span></p>

        </div>
    </div>
</div>


