@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<span class="marko">click me</span>

@section Scripts {
    <script>
        $(".marko").click(function(){
            alert('hi marko');
        });

    </script>
}
