@model Lunch.Website.ViewModels.Homepage

@{
    ViewBag.Title = "Rate";
}

<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">

            <p class="voted">Rate your experience at<br /><span class="restLabel"></span></p>

        </div>
    </div>
</div>
