@model Lunch.Website.ViewModels.Homepage

@using System.Collections
@using System.Security.Cryptography
@using System.Text
@{
    ViewBag.Title = "Index";
}

@if (Model.YourVote != null)
{
    <p>You already voted for @Model.YourVote.Restaurant.RestaurantName!</p>
}

<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">
            
            <div class="usersWrap">
                @foreach (var voter in Model.PeopleWhoVotedToday)
                {
                    <img title="@voter.FullNameWithEmail" src="http://www.gravatar.com/avatar/@Html.Md5Hash(voter.Email)?s=200" />
                }
                <p>@Model.PeopleWhoVotedToday.Count picks</p>
            </div>
            
            <p class="titleLabel">Where would you like to eat?</p>

            <div class="listingWrap">
                
                @foreach (var restaurant in Model.RestaurantsForToday)
                {
                    <a href="/Home/SaveVote/@restaurant.Restaurant.Id" class="listing"><p>@restaurant.Restaurant.RestaurantName</p></a>
                }
            </div>

        </div>

    </div>
</div>


