@model Lunch.Website.ViewModels.Homepage

@using System.Collections
@using System.Security.Cryptography
@using System.Text

@{
    ViewBag.Title = "Rate";
}


<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">

            <div class="usersWrap">
                @foreach (var voter in Model.PeopleWhoVotedToday)
                {
                    <img title="@voter.FullNameWithEmail" src="http://www.gravatar.com/avatar/@Html.Md5Hash(voter.Email)?s=200" />
                }
                <p>@Model.PeopleWhoVotedToday.Count picks</p>
            </div>

            <p class="voted">You voted for <br /><span class="restLabel">@Model.YourVote.Restaurant.RestaurantName</span></p>

            <div class="listingWrap">

                <a href="/Home/DeleteVote/@Model.YourVote.Id" class="changeVote">Change your vote?</a>

            </div>

         </div>

    </div>
</div>
